h1 {
  font-size : 45px;
  font-family : "Georgia",Serif;
  text-align : center;

  margin : 0;
  padding : 30px;
  border-bottom : 1px solid gray;
}
p{
  font-family : "Georgia",Serif;
}
a{
  text-decoration : none;
  color : black;
  display : block;
  margin : 10px
}
ul{
  border-right : 1px solid gray;
  font-size : 15px;
  font-family : "Georgia",Serif;
  text-align : center;

  padding : 0;
  margin: 5px;
}

#grid{
  display : grid;
  grid-template-columns : 1fr 3fr;
}

@media(max-width : 700px){
  #grid{
    display : block;
  }
  ul{
    border-right : 0;
    font-size : 15px;
    font-family : "Georgia",Serif;
    text-align : center;
    padding : 0;
    margin: 5px;
